@model TogetherUpload.Models.Customer
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Customer", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Customer</legend>
        @Html.HiddenFor(model => model.CustomerId)
        @Html.HiddenFor(model => model.CaseId)
        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <div class="editor-label">
            <label>Files:</label>
        </div>
        <div class="editor-field">
            <input type="file" name="file" multiple="multiple" />          
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<table class="gridtable">
    <tr>
        <th>
            File
        </th>
        <th></th>
        <th>
            Document Type
        </th>
        <th></th>
        <th>Delete</th>
        <th></th>
    </tr>
    @foreach (var item in Model.LegalDocuments)
    {
        <tr>
            <td>
                @*<a class="title" href="/Support/Download/?p=@(item.Id + item.Extension)&d=@item.FileName">@item.FileName</a>*@
                <a class="title" href="#">@item.FileName</a>
            </td>
            <td></td>
            <td>
                @item.DocumentType
            </td>
            <td></td>
            <td>
                @*<a id="delete" href="javascript:void(0);" data-id='{"fileId":@item.Id.ToString(),"docType":@item.DocumentType,"caseId":@Model.CaseId}' class="deleteItem">X</a>*@
                <a id="delete" href="javascript:void(0);" data-id="@item.Id" class="deleteItem">X</a>
            </td>
            <td></td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $('.deleteItem').click(function (e) {
            e.preventDefault();
            var $ctrl = $(this);
            if (confirm('Do you really want to delete this file?')) {            
                $.ajax({
                    url: '@Url.Action("DeleteFile")',
                    type: 'POST',
                    data: { fileId: $(this).data('id') }
                    //data: { fileId: $(this).data('id').fileId, docType: $(this).data('id').docType, caseId: $(this).data('id').caseId }
                }).done(function (data) {
                    if (data.Result == "OK") {
                        $ctrl.closest('tr').remove();
                    }
                    else if (data.Result.Message) {
                        alert(data.Result.Message);
                    }
                }).fail(function () {
                    alert("There is something wrong. Please try again.");
                })

            }
        });
    </script>
}
